#residentsView {
    -fx-padding: 20;
}

.top-bar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-padding: 10 15;
    -fx-spacing: 10;
}


.top-bar-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.table-container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-padding: 5;
}

/* TABLE STYLING */
.table-view {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-border-width: 0;
}

.table-row-cell {
    -fx-background-insets: 5 0;
    -fx-padding: 10;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: transparent;
    -fx-background-color: #f2f3f6;;
}

.table-row-cell:odd {
    -fx-background-color: #f7f8f3;
}

.table-row-cell:selected {
    -fx-background-color: #8aa883 !important;
    -fx-text-fill: white;
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-border-color: #dcded5;
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 10 4 10 4;
}

/* BUTTON STYLING */
.button {
    -fx-background-color: #8aa883;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 16;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-border-color: transparent;
}

.button:hover {
    -fx-background-color: #7a9773;
}

.button:pressed {
    -fx-background-color: #6b8765;
}

#btnDelete {
    -fx-background-color: #e74c3c; /* red */
    -fx-text-fill: white;
}

#btnDelete:hover {
    -fx-background-color: #c0392b;
}

#btnDelete:pressed {
    -fx-background-color: #a93226;
}

.editBox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.editBox Label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

/* TEXTFIELDS */
.editBox TextField {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #dcded5;
    -fx-padding: 8 10;
    -fx-font-size: 13px;
}

.editBox TextField:hover {
    -fx-border-color: #8aa883;
}

.editBox TextField:focused {
    -fx-border-color: #8aa883;
}
