.editBox ComboBox {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #dcded5;
    -fx-padding: 4 8;
    -fx-font-size: 13px;
    -fx-max-width: infinity;
}

.editBox ComboBox:hover {
    -fx-border-color: #8aa883;
}

.editBox ComboBox:focused {
    -fx-border-color: #8aa883;
}

.editBox ComboBox .arrow-button {
    -fx-background-color: transparent;
}

.editBox ComboBox .arrow {
    -fx-background-color: #8aa883;
}

.combo-box-popup .list-view {
    -fx-background-color: white;
    -fx-border-color: #dcded5;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

.combo-box-popup .list-cell {
    -fx-padding: 8 10;
    -fx-font-size: 13px;
}

.combo-box-popup .list-cell:hover {
    -fx-background-color: #d2dcb6;
    -fx-text-fill: black;
}

.combo-box-popup .list-cell:selected {
    -fx-background-color: #8aa883;
    -fx-text-fill: white;
}
