
.top-bar {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-padding: 10 15;
    -fx-spacing: 10;
}


.top-bar-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.table-container {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-padding: 5;
}

.editBox {
    -fx-background-color: #ffffff;
    -fx-background-radius: 12;
    -fx-padding: 15;
    -fx-spacing: 10;
}

.editBox Label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

/* TEXTFIELDS */
.editBox TextField {
    -fx-background-color: white;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: #dcded5;
    -fx-padding: 8 10;
    -fx-font-size: 13px;
}

.editBox TextField:hover {
    -fx-border-color: #8aa883;
}

.editBox TextField:focused {
    -fx-border-color: #8aa883;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

/* =========================
   TAB PANE CONTAINER
   ========================= */

.tab-pane {
    -fx-background-color: transparent;
}

.tab-pane > .tab-header-area {
    -fx-padding: 10 10 0 10;
    -fx-background-color: transparent;
}

.tab-pane > .tab-header-area > .headers-region {
    -fx-background-color: transparent;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: transparent;
}


/* =========================
   INDIVIDUAL TABS
   ========================= */

.tab {
    -fx-background-color: #e9efe6;
    -fx-background-radius: 12 12 0 0;
    -fx-padding: 8 18;
    -fx-border-color: transparent;
}

.tab:hover {
    -fx-background-color: #dfe8da;
}

.tab:selected {
    -fx-background-color: #d2dcb6;
    -fx-background-radius: 12 12 0 0;
    -fx-padding: 11 22;
    -fx-translate-y: 2;
    -fx-view-order: -1;
}

.tab:selected .tab-label {
    -fx-text-fill: #2c3e50;
    -fx-font-weight: bold;
}

.tab .tab-label {
    -fx-text-fill: #5f6f64;
    -fx-font-size: 13px;
    -fx-font-weight: normal;
}

.tab-pane:focused .tab:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}