.table-view {
    -fx-background-color: transparent;
    -fx-padding: 10;
    -fx-border-width: 0;
}

.table-row-cell {
    -fx-background-insets: 5 0;
    -fx-padding: 10;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: transparent;
    -fx-background-color: #f2f3f6;;
}

.table-row-cell:odd {
    -fx-background-color: #f7f8f3;
}

.table-row-cell:selected {
    -fx-background-color: #8aa883 !important;
    -fx-text-fill: white;
}

.table-view .column-header-background {
    -fx-background-color: white;
    -fx-border-color: #dcded5;
    -fx-border-width: 0 0 1 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header .label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-padding: 10 4 10 4;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
}
